* {
    font-family:Arial, Helvetica, sans-serif
}
.ddContainer {
    position: relative;
    width: 100px;
}

.ddButtonMain {
    padding: 8px;
    border: none;
    background: none;
}

.ddBtnContainerInactive {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    border: 1px solid rgb(0, 220, 220);
    border-radius: 5px;
}

.ddBtnContainerActive {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 220, 220);
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.ddFieldContainer {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.ddField {
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.ddItem {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555555;
    display: flex;
    justify-content: center;
    padding: 8px 0px 8px 0px;
}

.ddItem:nth-child(n+2) {
    border-top: 1px solid rgb(0, 220, 220);
}